<style>

#header{
    height: 50px;
    width: 100%;
    padding: 10px 0;
    min-width: 1000px;
    position: fixed;
    background-color: white;
    background: -webkit-linear-gradient(white, #F0F0F0); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, #F0F0F0); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white,#F0F0F0 ); /* Firefox 3.6 - 15 */
    background: linear-gradient(white, #F0F0F0); /* 标准的语法 */
    -webkit-box-shadow: 0px 2px 5px lightgray;
    -moz-box-shadow: 0px 2px 5px lightgray;
    box-shadow: 0px 2px 5px lightgray;
    opacity: 0.96;
}
#nav{
    max-height: 600px;
    padding:0 0 0 20px;
    -webkit-overflow-y: auto;
    -ms-overflow-y: auto;
    overflow-y: auto;
	 width:300px;
    position: fixed;
    font-size: 13px;
    margin-top: 20px;
}


#section {
    min-width: 800px;
    max-width: 950px;
    margin-left: 340px;
    margin-top: 20px;
    float:left;
}



</style>