/*表格样式*/
 table {width:90%;background:#ccc; margin: 10px auto;border-collapse:collapse;}
/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
 th, td {height:25px;line-height:25px;text-align:center;border:1px solid #ccc;}
 th {background:#888;font-weight:normal;}
 tr {background:#fff;}
 tr:hover {background:#cc0;}
 td a {color:#06f;text-decoration:none;}
 td a:hover {color:#06f;text-decoration:underline;} 
